*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

/* Images */
.bg-image{
    background-image: url(/Images/Sleep-Co\ 1.jpg);
    background-size: cover;
    min-height: 10rem;
}
.landscape { padding-bottom: 65%;}
.portrait { padding-bottom: 125%;}
.square { padding-bottom: 100%;}


/*Universial styles & Ultity classes*/

body{
    
    font-family:"Catamaran", sans-serif;
    color: #192B37;
}

.padded { padding:5%;}
.padded-sm { padding: 1rem;}
.padded-lg { padding: 10%;}

.bg-dark { 
    background-color: #1a1e3f;
    color: white;
}
.bg-featured { 
    background-color: #f4b525;
    
}
.bg-accent{
    background-color: #e3ecf2;
    

}

.tall-50 { min-height: 50vh; }
.tall-60 { min-height: 60vh; }
.tall-70 { min-height: 70vh; }
.tall-80 { min-height: 80vh; }
.tall-90 { min-height: 90vh; }
.tall-100 { min-height: 100vh; }



/* Typography Style */

h2, h3, h4, h5, h6{
    margin-bottom: 1rem;
    line-height: 1.1;
}

h2{
    font-size: 2.5rem;
    font-weight: 800;
    
}

h3{
    line-height: 1;
}

p{
    font-weight: 200;
    margin-bottom: 1rem;
}
p:last-child{
    margin-bottom: 0;
}

a{
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid;
}

a:hover{
    color: #FFBE00;
}

.featured-text { color:#FFBE00;}
.featured-white { color:white;}
.white-text { color:white; }

.small-text { font-size: 1.5rem;}
.medium-text { 
    font-size: 2rem;
    line-height: 1.5;
}

.big-text { font-size: 4.5rem;}


.subtitle {
    font-size: 1.2rem;
    color: rgb(120,120,125;)
}

.quote-icon { 
    font-size: 6rem;
    display: inline-block;
    color: rgb(120,120,125;)
    line-height: 1;
}


.font-weight-light { font-weight: 200;}
.font-weight-normal { font-weight: normal;}
.font-weight-extra-bold { font-weight: 800;}

.text-left   { text-align: left; }
.text-center { text-align: center; }
.text-right  { text-align: right; }


/* Header Styles */

header{
    background-image: url(Images/Sleep-Co\ 4.jpg);
    background-size: cover;
    background-position: center;
    padding: 2%,5%;

}

header h3{
    font-size: 5.5rem;
    line-height: 1;
}
nav a{
    padding: 0.5rem;
    display: inline-block;
    border: none;
}
.logo h2{
    margin-bottom: 0;
}


/* Background Images */

.bg-bed{ background-image: url('/Images/Sleep-Co\ 3.jpg');}
.bg-pug{ 
    background-image: url('/Images/Sleep-Co\ 1.jpg');
    background-position: 50% 35%;
}
.bg-pillow {
    background-image: url('Images/Sleep-Co\ 2.jpg');
    background-position: 50% 57%; 

}

/* Icons Grid */

.fa-solid {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 3rem;
}

/* buttons & forms */
input,
textarea{
    width: 100%;
    display: block;
    margin-bottom: 0.4rem;
    padding: 0.5rem;
    font-family: inherit;
    font-size: 0.9rem;
    border: 2px solid transparent;
}
input:focus,
textarea:focus{
    border: 2px solid #FFBE00;
    outline: none;
}
.button{
    padding: 0.5rem 2rem;
    background-color: #FFBE00;
    appearance: none;
    border: 2px #FFBE00 ;
    color: inherit;
    outline: none;

}
/* General CSS Responsive Styles (Apply everywhere unless overridden) */ 

.show-xs, 
.show-sm,
.show-md {
	display: none;
}

/* ------- MD Media Query (64em / 1024px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media (max-width: 64em) {
  .show-md { display: block; }
  .hide-md { display: none;  }

  .md-tall-80{ min-height: 80vh;}

  body {
    border: 2px solid green;
}
/* ------- SM Media Query (48em / 768px) --------------- */ 
/* - Styles added here will apply at devices smaller than 768px, or zoomed in equivalent */ 

@media (max-width: 48em) {

    html{ font-size: 14px;}
    p font-size: {: 1.1rem;}
    body {border: 2px solid blue;}

    .show-sm { display: block; }
    .hide-sm { display: none;  }
       
    .sm-text-center { text-align: center; }
    .sm-text-left { text-align: left; }
    .sm-text-right { text-align: right; }
  
    .sm-padded { padding: 5%; }
    .sm-padded-1 { padding: 1rem; }
    .sm-padded-05 { padding: 0.5rem; }
  
    .sm-padded-t-0 { padding-top: 0; }
    .sm-padded-b-0 { padding-bottom: 0; }
    .sm-padded-l-0 { padding-left: 0; }
    .sm-padded-r-0 { padding-right: 0; }
    
    .sm-margin-t-0 { margin-top: 0; }
    .sm-margin-b-0 { margin-bottom: 0; }
    .sm-margin-l-0 { margin-left: 0; }
    .sm-margin-r-0 { margin-right: 0; }

    header h3{ font-size: 11vw;
    }
    
  }

  /* ------- XS Media Query (36em / 576px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media (max-width: 36em) {

    body {
        border: 2px solid lightblue;
      }
    .show-xs { display: block; }
    .hide-xs { display: none;  }

    h1{
        font-size: 1.4rem;
        line-height: 1.1;
    }

}